# Ignore all
/**

# Standard repository files
!/.gitignore
!/CODE_OF_CONDUCT.md
!/CONTRIBUTING.md
!/LICENSE
!/README.md
!/SECURITY.md
!/SUPPORT.md
!/CHANGELOG.md
!/CONTRIBUTORS.md
!/AUTHORS.md
!/ACKNOWLEDGMENTS.md
!/CODEOWNERS.md
!/ISSUE_TEMPLATE.md
!/PULL_REQUEST_TEMPLATE.md
!/ISSUE_TEMPLATE/
!/ISSUE_TEMPLATE/*
!/PULL_REQUEST_TEMPLATE
!/PULL_REQUEST_TEMPLATE/*

# Packer files and resources
!/*/
!/*/*.pkr.hcl
!/*/res/
!/*/res/*
